<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
	    <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">10,262</p>
                    <p class="text-muted"><span data-i18n="Ventas $"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-credit-card"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">5.25<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Ticket Promedio $"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">78</p>
                    <p class="text-muted"><span data-i18n="Transacciones"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h3">1,550</p>
                    <p class="text-muted"><span data-i18n="Utilidad $"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->

    


    

</div>

  